*
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
header{
    display: flex;
    justify-content: space-between ;
    padding: 1em 13% 1em 13%;
    min-width: 370px;
}
.main{
    padding: 3em 13% 3em 13%;
    display: flex;
    flex-direction: column;
    min-width: 370px;
}
footer{
    background-color: #333333;
    display: flex;
    justify-content: space-around;
    padding: 2em 3em 2em 3em;
    text-align: center;
    min-width: 370px;
}
#footer_text{
    color: white;
    width: 33%;
}

.menu_photo{
    max-height: 33px;
    width: auto;
}

.upper_side {
    display: flex;
}
.photo_container{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
}
#girl_and_teacher{
    max-width: 294px;
    padding: 12px;
    box-shadow: 0px 0px 8px 9px rgba(73, 70, 70, 0.2);
    background-color: white;
    margin-right: -8rem;
}
.left_text{
    font-style: oblique;
    padding: 1.8em;
    font-size: 1.25rem;
    color: rgb(17, 17, 17);
    line-height: 1.7;
}
#girls {
    max-width: 524px;
    /* max-height: 381px; */
    margin-top: 7.5rem;
    align-self: flex-end;
}

.lower_side{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 5em;
    gap: 4.6em;
}
a {
    color: #808080;
    text-decoration: none;
    padding: 0 0 5px 0;
    border-style: none none solid;
    border-color: #808080;
    /* font: 16px "Open-Sans", sans-serif; */
}
#boy_and_girls{
    max-width: 439px;
    box-shadow: 0px 0px 8px 9px rgba(73, 70, 70, 0.2);
    margin-top: -9.2rem;
}
#right_text{
    padding: 1em 2em 1em 0em;
    font-size: 1.25rem;
    line-height: 1.8;
}

@media (max-width: 1000px){
    
    .upper_side{
        flex-direction: column;
    }
    .photo_container {
        flex-direction: column;
    }
    .lower_side {
        display: flex;
        flex-direction: column;
    }
    #girls {
        width: 100%;
        min-width: 300px;
        order: 2;
        margin-top: -4rem;
        z-index: -1;
    }
    #girl_and_teacher{
        width: 100%;
        min-width: 160px;
    }
    #boy_and_girls{
        width: 100%;
        min-width: 300px;
    }
    .lower_side{
        
    }
}