body{
    height: 100vh;
    display: grid;
    grid-template-columns: auto fit-content(25%) ;
    grid-template-rows: 27vh min-content fit-content;
    font-family:  Arial, Helvetica, sans-serif;
}

#div1, #div2, #div3, #div4, #div5{
    padding: 0.8em 1.5em 1.5em 1.5em;
} 
.left_divs{
    margin-right: 8%;
}

#div1{
    grid-area: 1 / 1 / span 1/ span 1;
    background-color: rgb(170, 202, 237);
    clear: right;
}

#div2{
    background-color: #617dc9ee;
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
    padding: 0;
}

#div3{
    grid-area: 2 / 1 / span 1/ span 1;
    font-size: 1.1em;
    padding-left: 1.9em;
    padding-right: 1.9em;
}

#div4{
    grid-area: 3 / 1 / span 1/ span 1;
    background-color: rgb(198, 217, 241);
    clear: left;
}

#div5{
    background-color: #1f0c67ee;   
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    padding: 0.2em;
}

.title{
    padding: 1px;
    margin: 1.2em;
    font-size: 2.7em;
    text-align: center;
    color: #e5f5fdee;
    text-shadow: 4px 4px 2px #511110; 
}

#div1 .title{
    float: right;
}

#div4 .title{
    float: left;
    margin-right: 0.8em;
}

#div1 p, #div4 p{
    letter-spacing: 3px;
}
#div4 p{
    text-align: end;
}
#div3 p{
    text-align: start;
}

.quote{
    text-align: center;
    font-size: 1.4em;
    font-style: italic;
    color: #e5f5fdee;
    text-shadow: 2px 2px 3px #511110;
    letter-spacing: 2px;
}

.menu{
    font-weight: bold;
}
.menu a{
    color: #e5f5fdee;
}
.menu li:hover{
    background-color: #190450ee;
}

.menu ul{
    margin: 0;
    padding: 0;
}

.menu li{
    font-size: 1.75em;
    display: block;
    background-color: #6d94e1ee;
    width: 92%;
    height: 8.6vh;
    padding: 0.5em;
    margin: 0.1em 0 0 0.05em;
    text-align: start;
}

a {
    color: #772722;
    text-decoration: none;
  }

  .photo{
    float: right;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
  }
  .photoGallery{
    display: flex;
    flex-wrap: wrap;
  }